<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/test">

      Category: <input type="text" id = "category" name="category" value=""/>
      <input type="submit" value="Get List">
    </form>



  </body>
</html>
